@import "./vars.scss";

%normal-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

*{
  padding: 0;
  box-sizing: border-box;
}

.defaultButton {
  height: 24px;
  padding: 0 10px 0 10px;
}

.header {
  @extend %normal-row;
  background-color: $mainColor;
}

.roundGuesses {
  @extend %normal-row;
  background-color: $mainColor;
}

.leagueRow {
  @extend %normal-row;
  background-color: 'black';
}
